@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .adjust-width {
      padding-left: calc(100vw - 100%);
  }

  @font-face {
    font-family: 'LibreBodoni';
    font-style: normal;
    font-weight: 400;
    font-dislay: swap;
    src: url("/fonts/LibreBodoni-Regular.otf") format('otf')
  }

  html {
    @apply lg:adjust-width text-center p-2 overflow-x-hidden;

    font-family: sans-serif;
  }
}

.fancy-link {
  @apply bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent;
}

.markdown {
  @apply text-left;

  img {
    @apply mx-auto;
  }

  h1 h2 h3 h4 {
    @apply font-serif;
  }

  a {
    @apply fancy-link;
  }

  table {
    @apply table;
  }
}
